<h2><%= @project.name %></h2>

<h3>Material: </h3><p><%= @project.material %></p>

<h3>Challenge: </h3><p><%= @project.challenge.theme %></p>

<div id="<%= @project.id %>">
<h3>Number of Contestants: </h3><p><%= @project.contestant_count %></p>
</div>%
