<h1>Project Show Page</h1>


<h3>Project Name: <%= @project.name %></h3>
<h3>Material: <%= @project.material %></h3>
<h3>Challenge Theme: <%= @project.challenge.theme %></h3>
<h3>Contestant Count: <%= @project.contestant_count %></h3>
<h3>Average Contestant Experience: <%= @project.average_experience %></h3>