<h2><%= @project.name %></h2>

<h3>Material: </h3><p><%= @project.material %></p>

<h3>Challenge: </h3><p><%= @project.challenge.theme %></p>

<div id="<%= @project.id %>">
<h3>Number of Contestants: </h3><p><%= @project.contestant_count %></p>
</div>

<div id="contestantExperience">
<h3>Average Contestant Experience: </h3><p><%= @project.average_exp %></p>
</div>

<h2>Add Contestants to This Project</h2>

<%= form_with url: "/contestant_projects", method: :post, local: true do |form| %>
    <%= form.label :contestant_id %>
    <%= form.text_field :contestant_id %>
    <%= form.hidden_field :project_id, :value => @project.id %>
    <%= form.submit "Add Contestant to Project" %>
<% end %>

