<h2> <%= @project.name %> </h2>
<p><b> Material:</b> <%= @project.material %> </p>
<p><b> Challenge Theme:</b> <%= @project.project_theme %>
<p><b> Number of Contestants:</b> <%= @project.contestants_count %>
<p><b> Average Contestant Experience:</b> <%= @project.avg_contestant_experience %>
