<%= @project.name %>
<%= @project.material%>
<%= @project.challenge.theme %>

<p>Number of Contestants: <%= @project.contestants.count %> </p>
<p>Average Contestant Experience: <%= @project.experience_average %>  </p>
