<h1><%= @project.name %><br></h1>
Material:
<%= @project.material %><br>
Challenge Theme:
<%= @project.challenge_theme %><br>
Number of Contestants:
<%= @project.num_contestants %><br>
Average Contestant Experience:
<%= @project.average_contestant_experience %>